server:
  port: 8080

spring:
  application:
    name: trialbridge-api

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.trialbridgej: DEBUG
